@font-face{
	font-family: 'Roboto-Regular';
	src: url('fonts/Roboto/Roboto-Regular.ttf');
}
@font-face{
	font-family: 'Swiss721';
	src: url('fonts/Swiss/Swiss721CondensedBT.ttf');
}
@font-face{
	font-family: 'Humger-Regular';
	src: url('fonts/Humger/Humger.ttf');
}
@font-face{
	font-family: 'Lato-Regular';
	src: url('fonts/Lato/Lato-Regular.ttf');
}
@font-face{
    font-family: 'Marvin';
    src: url('fonts/Marvin/Marvin.otf');
}
body{margin: 0; position: absolute;
    display: flex; box-sizing: border-box;
    height: 100%; width: 100%;
    font-family: 'Roboto-Regular', Helvetica, Arial, sans-serif;
}

.page{display: flex; flex-direction: column; box-sizing: border-box;
    height: 100%; width: 100%; overflow: hidden;
}
    .header{display: flex; flex-direction: row; box-sizing: border-box;
        height: 5em; width: 100%; background-color: white;
        box-shadow: 0 3px 6px rgba(0,0,0,.1);
        align-items: center;
        z-index: 100;
        position: relative;
        transition: 0.5s;
    }
    .content{display: flex; box-sizing: border-box;
        top: 5em;
         height: calc(100% - 5em); width:100%; position: absolute;
    }
    
        nav.header-nav{width: 100%; 
            padding: 0px 10px 0px 10px;
            display: flex; box-sizing: border-box;
            flex-direction: row;
            justify-content: space-around;
            align-items: center;
        }
            .header-group{
                display: flex; box-sizing: border-box;
                align-items: center;
                position: relative;
            }
                button.header-button{
                    padding: 8px 8px 8px 8px;
                    box-shadow: 0 3px 6px rgba(247, 155, 155, 0.1);
                    border-radius: 10px;
                    margin-right: 10px;
                    margin-left: 10px;
                    box-sizing: border-box;
                    display: flex;
                    justify-content: center;
                }
                #logo{
                    padding: 0px 30px 0px 30px;
                    box-shadow: none;
                }
                
        .wrapper-map{
            position: absolute;
            height: 100%;
            width: 100%;
        }
            #canvas-map{
                position: absolute;
                height: 100%;
                width: 100%;
            }
            .menu-side-right{
                position: absolute;
                display: flex;
                height: 100%;
                width: 0;
                background-color: rgba(7, 48, 84, 0.9);
                right: 0;
                transition: .5s;
                overflow: hidden;
            }
            #mn-sr{display: none;}
            .painel-maps{
                position: absolute; display: flex; bottom: 10%;
                left: 5%; height: 3em; width: 3em;
                background-color: white; border-radius: 10px;
                box-shadow: 0 3px 6px rgba(0,0,0,.2);
                transition: 0.5s; z-index: 10;
                overflow: hidden;
                padding: 10px 10px 10px 10px;
                box-sizing: border-box;
            }
                button.btn-painel-maps{
                    position: absolute;
                    width:3em;
                    height:3em;
                    left: 0;
                    bottom: 0;
                }
                    i.icon-painel-map{
                        transition: .5s;
                    }
                .painel-maps-wrapper{
                    display:none;
                    width: 100%;
                }
                .painel-maps-ul{
                    width: 100%;
                }
                    .group-organizer{
                        display: flex;
                        flex-direction: column;
                        align-items: flex-start;
                    }
                        .group-item{
                            display: flex;
                            flex-direction: row;
                            margin: 5px 0 5px 0;
                            justify-content: flex-start;
                            width: 100%;
                        }

                .interruptor-canvas{
                    display: flex;
                    flex-direction: row;
                    justify-content: flex-start;
                }
                .interruptor-box{
                    position: relative;
                    border-radius: 10px;
                    border: 1px solid #cccccc;
                    width: 4em;
                    height: 1em;
                    transition: .5s;
                    cursor: pointer;
                    background-color: white;
                    margin: 0px 20px 0 20px;
                }
                    .interruptor-ball{
                        position: absolute;
                        background-color: rgb(87, 198, 161);
                        border-radius: 50%;
                        height: 1.5em;
                        width: 1.5em;
                        top: -0.2em;
                        left: -0.2em;
                        transition: .5s;
                    }
        .menu-wrapper{
            position: absolute;
            width: 100%;
            height: 100%;
            display: flex;
            box-sizing: border-box;
            flex-direction: column;
            align-items: center;
            overflow-x: hidden;
            overflow-y: auto;
            padding: 0 10px 0 10px;
            padding-top: 15px;
        }
            .menu-closebtn{
                position: absolute;
                top: 0px; left: 0px;
                padding: 6px 6px 6px 6px;
                border-radius: 0px 0px 10px 0px;
                background-color: #f8f8f8;
                font-weight: bold;
                font-size: 16px;
            }
            .menu-tittle{
                position: relative;
                justify-content: center;
                display: flex;

            }
            .menu-line{
                position: relative;
                width: 100%;
                height: 2px;
                margin: 5px 0 5px 0;
                background: linear-gradient(to left, rgb(7, 48, 84), #ffffff, rgb(7, 48, 84));
            }
            .menu-item{
                position: relative;
                width: 100%;
                display: flex;
                justify-content: center;
                margin-bottom: 5px;
                flex-direction: column;
                align-items: center;
                padding: 0px 0 5px 0;
                flex: 1 0 auto;
            }

            input.form-text{
                outline: 0;
                border-width: 0 0 2px;
                border-color: #165d6e;
                background-color: white;
                /*background-color: transparent;*/
                border-radius: 8px;
                font-family: 'Roboto-Regular';
                padding: 2px 5px 2px 5px;
                font-size: 18px;
                z-index: 10;
            }
                input.form-text:focus{
                    border-color: #509361;
                    background:rgba(255, 255, 255, 0.9);
                    border-radius: 8px;
                }
            .text-box{
                display: flex;
                flex-direction: row;
            /*    box-shadow: 0 1px 4px 0 rgba(0,0,0,.34);*/
            }
            
                #check-endereco{
                    position: absolute;
                    margin-top: 2px;
                    display: none;
                    right: 10px;
                    color: #7fdd6a;
                }
                .pac-container {
                    display: absolute;
                    border-radius: 10px;
                }
                    .pac-container:after {                
                        background-image: none !important;
                        height: 0px;
                    }         
                

            .selectric{
                width: 14em;
                border-radius: 10px;
            }

            .map-popup{
                display: flex;
                flex-direction: column;
                box-sizing: border-box;
                min-width: 10em; 
            }
                .map-popup-title{
                    width: 100%;
                }
                .map-popup-line{
                    position: relative;
                    width: 100%;
                    height: 2px;
                    margin: 5px 0 5px 0;
                    background: linear-gradient(to left, #ffffff, rgb(7, 48, 84), #ffffff);
                }
                .map-popup-text{
                    width: 100%;
                }
                .map-popup-andress{
                    width: 100%;
                }
                .map-popup-autor{
                    width: 100%;
                }
                .map-popup-block{
                    border: 3px solid rgb(121, 207, 200)!important;
                    border-radius: 10px;
                    padding: 5px;
                    margin-top: 10px;
                }
                .gm-style-iw .gm-style-iw-close {
                    width: 10px;
                    height: 10px;
                    top: 10px;
                    right: 10px;
                    }
                    .gm-style-iw .gm-style-iw-close > img {
                    display: none;
                    }

        .tooltip, .tooltip-right{
            position: relative;
            display: inline-block;
        }
        .tooltiptext {
            visibility: hidden;
            width: auto;
            background-color: black;
            color: #fff;
            text-align: center;
            background-color: #ffffff; 
            border-radius: 10px;
            box-shadow: 0 3px 6px rgba(0,0,0,.2);
            z-index: 10;
            padding: 5px 0;
            position: absolute;
            z-index: 20;
            top: 150%;
            left: 50%;
            margin-left: -50%;
        }

        .tooltip .tooltiptext::after {
            content: "";
            position: absolute;
            bottom: 100%;
            left: 50%;
            margin-left: -5px;
            border-width: 5px;
            border-style: solid;
            border-color: transparent transparent rgb(204, 204, 204) transparent;
          }
            .normaltooltip{
                visibility: visible;
            }
            .hovertooltip{
                visibility: hidden;
            }
            .tooltip:hover .hovertooltip{
                visibility: visible;
                box-shadow: inset 0px 0px 1px 2px #315867 !important;
            }
            .tooltip:hover .normaltooltip{
                box-shadow: inset 0px 0px 1px 2px #315867 !important;
            }            

        .tooltip-closebtn{
            position: absolute;
            top: 0px; right: 0px;
            padding: 4px 6px 4px 6px;
            border-radius: 0px 10px 0px 0px;
            background-color: #073054;
            font-size: 10px;
        }

            .popupSwift-title{
                padding: 10px 10px 0px 10px;
                color: #8890b6;
                font-weight: bold;
            }
            .popupSwift-text{
                padding: 10px;
                padding-top: 17px;
                color: #ada7a7;
            }
    .mobile-menu{
        position: absolute;
        left: 10%;
        top: 1em;
        border-radius: 10px;
        width: 2.7em;
        height: 2.7em;
        background-color: #ffffff;
        display: flex;
        align-items: center;
        justify-content: center;
        display: none;
        box-sizing: border-box;
        padding: 0em;
        transition: 2s;
    } 

.special-center{
    justify-content: center;
}
/*Span Cases*/
span.Razura1{
    font-family: 'Swiss721';
    font-style: italic;
    font-size: 24px;
    color: #073054;
    font-weight: bold;
}
span.Razura2{
    font-family: 'Swiss721';
    font-style: italic;
    font-size: 24px;
    color: #ffffff;
    font-weight: bold;
}
span.Razura3{
    font-family: 'Roboto-Regular';
    font-size: 20px;
    color: #ffffff;
    font-style: italic;
}
span.Razura4{
    font-family: 'Swiss721';
    font-size: 24px;
    color: black;
    font-weight: 500;
}
span.Razura5{
    font-family: 'Swiss721';
    font-size: 20px;
    color: #747474;
    font-weight: 500;
}
span.Razura6{
    font-family: 'Swiss721';
    font-size: 16px;
    color: #2da0b4;
    font-weight: 200;
}
span.Razura7{
    font-family: 'Swiss721';
    font-size: 16px;
    color: #522f92;
    font-weight: 200;
}
span.Razura8{
    font-family: 'Swiss721';
    font-size: 16px;
    color: #2f923c;
    font-weight: 200;
}
span.legendsMapPainel{
    font-family: 'Marvin';
    font-size: 22px;
    font-style: italic;
}

/*Cores*/
.Color-SL1{
    color: #6f1988;
}
.Color-SL2{
    color: #1e8845;
}
.Color-SL3{
    color: #b61c1c;
}
.Color-SL4{
    color: #073054;
}
/*Combo de cores*/
.Color-CB1{
    color: #ffffff;
    background-color: #53c6e5;
}
.Color-CB2{
    color: white;
    background-color: #61a552;
}
.Color-CB3{
    color: white;
    background-color: #a5527a;
}
.Color-CB4{
    color: white;
    background-color: #344366;
}

/*Configuração padrões*/
button, input[type="submit"], input[type="reset"] {
	background: none;
    color: inherit;
	border: none;
	padding: 0;
	font: inherit;
	cursor: pointer;
	outline: inherit;
}
button:hover{
    box-shadow: 0 3px 6px rgba(0,0,0,.19) !important;
    opacity: 0.7;
}
button:active{
    opacity: 0.5;
    box-shadow: inset 0px 0px 1px 2px #315867 !important;
}

button:disabled,
button[disabled]{
  border: 1px solid #999999;
  background-color: #cccccc;
  color: #666666;
  cursor: not-allowed;
  
}
li, ul{
    list-style-type: none;
    padding-inline-start: 0px;
}
li{margin: 3px 0 3px 0;}

::-webkit-scrollbar
{
	width: 6px !important;
	height: 6px !important;
}
	::-webkit-scrollbar-track-piece  {
		-webkit-tap-highlight-color: transparent;
	}
	::-webkit-scrollbar-thumb:vertical{
		height: 4px;
		background-color: #ffffff;
		border-radius:2px;
	}
	::-webkit-scrollbar-thumb:horizontal{
		height: 4px;
		background-color: #ffffff;
		border-radius:2px;
    }
    
    @media screen and (min-width: 300px) and (max-width: 599px) { /* ...mobile styles here... */ 
        .header{
            background-color: white;
        }
        .mobile-menu{
            display: flex;
        }
        .header-choiced{
            display: none;
        }
        
        button.header-button{
            padding: 8px 8px 8px 8px;
            box-shadow: 0 3px 6px rgba(247, 155, 155, 0.1);
            width: 100%;
            border-radius: 10px;
            margin-right: 10px;
            margin-left: 10px;
            box-sizing: border-box;
        }
        .tooltip{
            width: 100%;
        }
        .header-group{
            width: 100%;
        }
        .header-logo{
            order: 1;
            width: auto;
        }
        .Color-ES1{
            color: #3b7668;
            background-color: transparent;
        }
    }
    @media screen and (min-width: 600px) and (max-width: 899px) { /* ...tablet styles here... */
        .header{
            background-color: white;
        }
        .mobile-menu{
            display: flex;
        }
        .header-choiced{
            display: none;
        }
        
        button.header-button{
            padding: 8px 8px 8px 8px;
            box-shadow: 0 3px 6px rgba(247, 155, 155, 0.1);
            width: 100%;
            border-radius: 10px;
            margin-right: 10px;
            margin-left: 10px;
            box-sizing: border-box;
        }
        .tooltip{
            width: 100%;
        }
        .header-group{
            width: 100%;
        }
        .header-logo{
            order: 1;
            width: auto;

        }
        .Color-ES1{
            color: #3b7668;
            background-color: transparent;
        }
    }
    @media screen and (min-width: 900px) { /* ...desktop styles here...*/
        .header{
            background-color: #ffffff;
        }
        .mobile-menu{
            display: none;
        }
        .header-choiced{
            display: flex;
        }
        nav.header-nav{
            flex-direction: row;
        }
        
    }